nav {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    background-color: #A0EFF8;
}

h1 {
    font-family: cursive;
    text-align: center;
}

.allImg {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.img1 {
    text-align: center;
}

.taiwan {
    width: 80%;
    height: 80%;
    margin: 0 10%;
}

.img2 {
    text-align: center;
}

.japan {
    width: 80%;
    height: 80%;
    margin: 0 10%;
}

.img3 {
    text-align: center;
}

.thailand {
    width: 80%;
    height: 80%;
    margin: 0 10%;
}

.img4 {
    text-align: center;
}

.uk {
    width: 80%;
    height: 80%;
    margin: 0 10%;
}

.img5 {
    text-align: center;
}

.usa {
    width: 80%;
    height: 80%;
    margin: 0 10%;
}

.img6 {
    text-align: center;
}

.france {
    width: 80%;
    height: 80%;
    margin: 0 10%;
}
